<% include ./partials/header%>


<div class="container">
    <div class="row card-deck">
        <div class="col-sm-6 col-md-4">
            <div class="card p-3 w-75" style="max-width: 18rem;">
                <div class="thumbnail"> 
                <img class="card-img-top mx-auto" src="images/WingCombo.png" alt="Card image cap">
                </div>
                
                <div class="card-body mx-auto">
                    <h5 class="card-title">Wings & Meals</h5>
                    <a href="/wings" class="btn btn-danger ">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card p-3 w-75" style="max-width: 18rem;">
                <img class="card-img-top mx-auto" src="images/PhillyWingCombo.png" alt="Card image cap">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Sandwiches & Meals</h5>
                    <a href="#" class="btn btn-danger ">Order Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card p-3 w-75 " style="max-width: 18rem;">
                <img class="card-img-top mx-auto" src="images/ShrimpCombo.png" alt="Card image cap">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Fish,Shirmp,Tender & Meals</h5>
                    <a href="#" class="btn btn-danger ">Order Now</a>
                </div>
            </div>
        </div>
        
          <div class="col-sm-6 col-md-4">
            <div class="card p-3 w-75 " style="max-width: 18rem;">
                <img class="card-img-top mx-auto" src="images/FriedRice.png" alt="Card image cap">
                <div class="card-body mx-auto">
                    <h5 class="card-title">FriedRice & Salad</h5>
                    <a href="#" class="btn btn-danger ">Order Now</a>
                </div>
            </div>
        </div>
        
          <div class="col-sm-6 col-md-4">
            <div class="card p-3 w-75 " style="max-width: 18rem;">
                <img class="card-img-top mx-auto" src="images/Steak_Cheese_Eggroll.png" alt="Card image cap">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Side Items</h5>
                    <a href="#" class="btn btn-danger ">Order Now</a>
                </div>
            </div>
        </div>
        
          <div class="col-sm-6 col-md-4">
            <div class="card p-3 w-75 " style="max-width: 18rem;">
                <img class="card-img-top mx-auto" src="https://www.foodbusinessnews.net/-/media/04417C0561634555ACA6AFA67B2858FE.ashx" alt="Card image cap">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Drinks</h5>
                    <a href="#" class="btn btn-danger ">Order Now</a>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ./partials/footer%>